<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or "Miguel Ponce de León" }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/projects-cards.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" href="/favicon.ico" />
  <meta name="description" content="Personal website of Miguel Ponce de León.">
</head>
<body>

  <header>
    <h1><a href="/">Miguel Ponce de León</a></h1>
    {% include "nav.njk" %}
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <section id="contact" style="text-align:center">
      <hr>
      <div style="display: flex; justify-content: center; gap: 2.5rem; flex-wrap: wrap; margin-top: 1rem;">

        <a href="https://orcid.org/0000-0002-7496-844X" target="_blank" class="footer-icon" aria-label="ORCID">
          <i class="fa-brands fa-orcid"></i>
        </a>

        <a href="https://scholar.google.com/citations?user=PEFjeYIAAAAJ&hl=en" target="_blank" class="footer-icon" aria-label="Google Scholar">
          <i class="fa-solid fa-graduation-cap"></i>
        </a>

        <a href="https://github.com/migp11" target="_blank" class="footer-icon" aria-label="GitHub">
          <i class="fa-brands fa-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/miguel-ponce-de-león-msc-phd-29a81938" target="_blank" class="footer-icon" aria-label="LinkedIn">
          <i class="fa-brands fa-linkedin"></i>
        </a>

        <a href="https://x.com/miguep11" target="_blank" class="footer-icon" aria-label="X / Twitter">
          <i class="fa-brands fa-x-twitter"></i>
        </a>

      </div>
    </section>
    <p>© Miguel Ponce de León</p>
  </footer>

</body>
</html>
