---
layout: base.njk
title: "Miguel Ponce de León"
---

<h2> Established Researcher of Computational Systems Biology and Data Science </h2>
<h3>Life Science Department, Barcelona supercomputing Center</h3>

<hr>

<div class="profile-container">

  <!-- Left column -->
  <div class="profile-left">
    <img src="images/profile.png" alt="Miguel Ponce de León" class="profile-picture">

    <div class="profile-buttons">
      <a href="https://exportcvuy.anii.org.uy/cvsni/?urlId=cad7738fc88c63863fb743e44e2ef716a26303482379dc67083f48e9970a31a252b9d9cf018342f92963ce87a37963f6f27e9c655de89162346c6e6d7b8713f0&formato=html&convocatoria=21" target="_blank" class="button-cv">
        <svg class="icon"><use xlink:href="#icon-pdf"></use></svg>
        CV (SNI)
      </a>

      <a href="mailto:miguel.ponce@bsc.es" class="button-email">
        <svg class="icon"><use xlink:href="#icon-email"></use></svg>
        Email Me
      </a>
    </div>
  </div>

  <!-- Right column -->
  <div class="profile-right">
    <p>I am a researcher in life sciences with expertise in systems biology, bioinformatics, and data analysis. My work integrates computational modeling with experimental data to understand biological mechanisms and cell behavior.</p>

    <p>More recently, I have explored geo-spatial analysis and population mobility, investigating their impact on urban health and epidemic dynamics.</p>

    <p>I also have extensive experience as a software developer, building data-driven models and computational tools to support research in systems biology, epidemiology, and health policy.</p>
  </div>

</div>


</div>
