---
layout: base.njk
title: Projects
---

<section id="projects">

<h2>Software Projects</h2>

<h3>Misc Projects</h3>
<h4>My personal web site</h4>


<h3>Computational Systems Biology</h3>

<h4>PhysiCelldFBA</h4>
<hr>

<h4>PhysiBoSS</h4>
<hr>

<h4>MTEApy</h4>
<hr>

<h3>Epidemiology and Public Health</h3>

<h4>Epi-Sim: a framework for epidemic simulation</h4>
<hr>

<h4>COVID19 Flow-Maps</h4>
<hr>

<h2>Datasets</h2>


</section>

