---
layout: base.njk
title: "About"
---

<section>


    <h3>Scientific Computing and Model Exploration</h3>
    <p>This course introduces the fundamental principles and tools of modern scientific computing for studying complex systems through simulation. It covers general concepts of computational modeling, data analysis, and machine learning, along with techniques for running large-scale computational experiments.</p>
    <a href="/teaching/scicomp/" target="_blank"><strong>Access Course material</strong></a>

    <hr>

    <h3>Introductory Course on Systems Biology: From Molecular Networks to Multicellular Systems</h3>
    <p>This is an introductory course to Systems Biology that includes both theoretical foundations and hands-on practice. The course covers key concepts and computational methods such as graph theory and complex networks, signaling and regulatory networks, metabolic modeling, and agent-based modeling.</p>
    <a href="https://github.com/migp11/systems_biology_course" target="_blank"><strong>Access Course material</strong></a>

</section>