---
layout: base.njk
title: "About"
---

<section>
<h3>Introductory Course on Systems Biology: From Molecular Networks to Multicellular Systems</h3>
<p>This is an introductory course to Systems Biology that includes both theoretical foundations and hands-on practice. The course covers key concepts and computational methods such as graph theory and complex networks, signaling and regulatory networks, metabolic modeling, and agent-based modeling.</p>
<a href="https://github.com/migp11/systems_biology_course" target="_blank"><strong>Access Course material</strong></a>

</section>